backend/dist/
backend/.env
backend/*.log
backend/.idea/
backend/.vscode/
docker-compose.override.yml
docker-compose.override.yaml
*.env
*.log
volumes/
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project
.vscode/
.idea/